#content {
    max-width: 1024px;
    padding: 2.5rem 0;
    margin: auto;
}

#content .ayahItem {
    margin-bottom: 1.5rem;
    padding: 1.25rem 0.8rem;
    border-bottom: 1px solid #cbcbcb;
    scroll-margin: 5rem;
}

#content .ayahItem.active {
    background-color: #f4fafe;
}

#content .ayahItem .arabic {
    text-align: right;
    margin-bottom: 1.8rem;
    font-family: 'Amiri', serif;
    font-size: 1.8rem;
}

#content .ayahItem .read {
    margin-bottom: 0.8rem;
}

#audioPanel {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    padding: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#surahInfo {
    background: #008fc4;
    padding: 1.5rem;
    color: white;
    border-radius: 0.8rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 4px 20px 15px rgba(214, 243, 252, 0.25);
}

#audioPanel audio {
    width: 100%;
}

#ayahContainer .ayahItem .read {
    color: #1b83e4;
    font-family: 'Nunito', sans-serif;
}

#ayahContainer .ayahItem .translation {
    color: #5d5d5d;;
    font-family: 'Nunito', sans-serif;
}

#ayahContainer .ayahItem .topContainer {
    margin-bottom: 1.5rem;
}

#ayahContainer .ayahItem .topContainer button {
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 0.2rem;
    clip-path: circle();
    background: #008fc4;
    color: white;
}

#ayahContainer .ayahItem .topContainer button span {
    font-size: 1.2rem;
}